:root {
    --main-background: #FDFDFB;
    --secondary-background: #fff;
    --light-text: #57221E;
    --dark-text: #352F43;
    --table-head: #F1E5D7;
    --table-body: #e9ded3;
    --table-extend: #F4F3F3;
    --table-extend-text: #696969;
    --table-border: #AAAA;
    --storage-background: #E8DFD4;
    --highlight-color: #898989;
    --red-highlight-color: #F94144;
    --chart-dark: #352F43;
    --chart-light: #D99C67;
    --context-menu-background: #F4F3F3;
    --context-menu-hover-background: #e5e5e5;
}

[prefers-color-scheme="dark"]:root {
    --main-background: #FDFDFB;
    --secondary-background: #fff;
    --light-text: #57221E;
    --dark-text: #352F43;
    --table-head: #F1E5D7;
    --table-body: #e9ded3;
    --table-extend: #F4F3F3;
    --table-extend-text: #696969;
    --table-border: #AAAA;
    --storage-background: #E8DFD4;
    --highlight-color: #898989;
    --red-highlight-color: #F94144;
    --chart-dark: #352F43;
    --chart-light: #D99C67;
    --context-menu-background: #F4F3F3;
    --context-menu-hover-background: #e5e5e5;
    }
