# NOTE: Only uncomment the following variables if you intend to set them. Empty
# variables may result in sqlx or other failures during compilation as they do
# not have the runtime safety checks present in the server binary.

#LISTEN_ADDR=
#SERVICE_KEY=

#UPLOAD_DIR=

#DATABASE_URL=

GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=

# Whether or not to use Mailgun TestMode
MAILGUN_TEST_MODE=true

# Mailgun signing key for verifying webhooks
MAILGUN_SIGNING_KEY=a-very-long-secret-key

# Where emails are sent from
#SMTP_FROM=fake@email.com

# Url of the form smpts://user:pass@host:port
# Remove from environment or set to "" to disable SMTPS and just stub send emails + output to logs
#SMTP_URL=smtps://user:pass@host:port

#STRIPE_SECRET=
#STRIPE_WEBHOOK_KEY=
