:root {
    --error: #CB3535;
    --error-banner: #FDF0F0;;
    --beta-banner: #FCF5EE;
    --beta-banner-border: #FCF5EE;
    --login: #F7F7F7;
    --navigation-primary: #FEFCFA;
    --navigation-secondary: #F7EBE1;
    --navigation-text: #232323;
    --navigation-separator: #E9E9EA;
    --navigation-textSecondary: #707070;
    --navigation-border: #E9E9EA;
    --table-cellBackground: #EFF1F5;
    --table-headBackground: #fcfcfd;
    --bucket-icon-background: #E0F4FC;
    --bucket-hover-background: #e2e8f0;
    --bucket-class-hot: #DE6F6F;
    --bucket-class-warm: #716FDE;
    --bucket-class-cold: #5CADBF;
    --bucket-actions-background: #FFF;
    --bucket-actions-text: #111322;
    --logo: #57221E;
    --text-900: #111322;
    --text-800: #30374F;
    --text-600: #5F5F5F;
    --text-400: #00143140;
    --text-200: #e5e7eb;
    --modal-background: #fff;
    --regular-border: #EFF1F5;
    --darken-border: #D0D5DD;
    --main-background: #FFF;
    --secondary-background: #fff;
    --header-background: #fff;
    --header-border: #E6E6E6;
    --highlight-color: #5299E0;
    --hover-background: #274d5c0d;
    --disabled: #E4E4E4;
    --shadow:  0px 4px 15px 0px rgba(0, 0, 0, 0.07);
    --dragging: #e0f4fc;
    --draggingBorder: #0F3A4A;
    --activeAccountType: #0F3A4A;
    --activeAccountTypeBackground: #0F3A4A1A;
    --termsAndConditionsHead: #FBF4EF;
    --button-primary: #274D5C;
    --button-primary-hover: #224350;
    --button-primary-text: #fff;
    --button-secondary: #E7ECED;
    --button-secondary-text: #0F3A4A;
    --termsAndConditionsHighlihgt: #263724;
    --view-invoice-text: #008ABD;
    --invoice-heading-background: #B39F8D1A;
    --contact-sales-button: #0066DE;
    --storage-usage-background: #DCEBF9;
    --storage-usage-progress-background: #fff;
    --storage-usage-progress-value: #0F3A4A;
}

[prefers-color-scheme="dark"]:root {
    --error: #D65C5C;
    --error-banner: #333;
    --beta-banner: #333;
    --beta-banner-border: #333;
    --login: #F7F7F7;
    --navigation-primary: #222;
    --navigation-secondary: #2D2B29;
    --navigation-text: #DCDCDC;
    --navigation-separator: #E9E9EA;
    --navigation-textSecondary: #DCDCDC;
    --navigation-border: #f7e1b51a;
    --table-cellBackground: #1A1A1A;
    --table-headBackground: #1A1A1A;
    --bucket-icon-background: #E0F4FC;
    --bucket-hover-background: #4C4C4C;
    --bucket-class-hot: #DE6F6F;
    --bucket-class-warm: #716FDE;
    --bucket-class-cold: #5CADBF;
    --bucket-actions-background: #333;
    --bucket-actions-text: #fff;
    --logo: #57221E;
    --text-900: #FFFFFF;
    --text-800: #FFFFFF;
    --text-600: #FFFFFF;
    --text-400: #878787;
    --text-200: #FFFFFF;
    --modal-background: #222;
    --regular-border: #494950;
    --darken-border: #4C4C4C;
    --main-background: #1A1A1A;
    --secondary-background: #303030;
    --header-background: #222;
    --header-border: #ffffff26;;
    --highlight-color: #5299E0;
    --hover-background: #1A1A1A;
    --disabled: #4c4c4c;
    --shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06);
    --dragging: #4C4C4C;
    --draggingBorder: #0F3A4A;
    --activeAccountType: #0F3A4A;
    --activeAccountTypeBackground: #0F3A4A1A;
    --termsAndConditionsHead: #FBF4EF;
    --button-primary: #26A6D9;
    --button-primary-text: #000;
    --button-secondary: #272E30;
    --button-secondary-text: #fff;
    --termsAndConditionsHighlihgt: #263724;
    --view-invoice-text: #008ABD;
    --invoice-heading-background: #B39F8D1A;
    --contact-sales-button: #0066DE;
    --storage-usage-background: #0a2239;
    --storage-usage-progress-background: #0D0D0D;
    --storage-usage-progress-value: #B5E0F0;
}
