:root {
    --button-secondary: #0F3A4A;
    --error: #CB3535;
    --error-banner: #FFD7B2;
    --error-banner-border: #ED770B;
    --login: #F7F7F7;
    --navigation-primary: #0F3A4A;
    --navigation-secondary: #3D5F6B;
    --navigation-text: #fff;
    --navigation-separator: #3D5F6B;
    --navigation-textSecondary: #FFFFFF80;
    --navigation-border: #0F3A4A;
    --table-cellBackground: #EFF1F5;
    --table-headBackground: #fcfcfd;
    --bucket-icon-background: #E0F4FC;
    --bucket-hover-background: #e2e8f0;
    --bucket-class-hot: #DE6F6F;
    --bucket-class-warm: #716FDE;
    --bucket-class-cold: #5CADBF;
    --bucket-actions-background: #F4F3F3;
    --bucket-actions-text: #232323;
    --text-900: #111322;
    --text-800: #30374F;
    --text-600: #4A5578;
    --text-400: #00143140;
    --text-200: #e5e7eb;
    --modal-background: #fff;
    --regular-border: #EFF1F5;
    --darken-border: #D0D5DD;
    --main-background: #F4F3F3;
    --secondary-background: #fff;
    --highlight-color: #5299E0;
    --hover-background: #e2e8f0;
    --disabled: #cbd5e1;
    --shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06);
    --dragging: #e0f4fc;
    --draggingBorder: #0F3A4A;
}

[prefers-color-scheme="dark"]:root {
    --button-secondary: #E79349;
    --error: #CB3535;
    --error-banner: #E79349;
    --error-banner-border: #ED770B;
    --login: #0F3A4A;
    --navigation-primary: #FFFFFF;
    --navigation-secondary: #0F3A4A0D;
    --navigation-text: #232323;
    --navigation-textSecondary: #232323;
    --navigation-separator: #E9E9EA;
    --navigation-border: #FFFFFF;
    --table-cellBackground: #274D5C;
    --table-headBackground: #274D5C;
    --bucket-icon-background: #3F6B7C;
    --bucket-hover-background: #1a596f;
    --bucket-border: #274D5C;
    --bucket-class-hot: #DE6F6F;
    --bucket-class-warm: #716FDE;
    --bucket-class-cold: #5CADBF;
    --bucket-actions-background: #F4F3F3;
    --bucket-actions-text: #232323;
    --text-900: #FFFFFF;
    --text-800: #FFFFFF;
    --text-600: #FFFFFF;
    --text-400: #FFFFFF;
    --text-200: #FFFFFF;
    --modal-background: #0F3A4A;
    --regular-border: #3d5f6b80;
    --darken-border: #3d5f6b80;
    --main-background: #0F3A4A;
    --secondary-background: #274D5C;
    --highlight-color: #5299E0;
    --hover-background: #e2e8f0;
    --disabled: #274D5C;
    --shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06);
    --dragging: #e0f4fc;
    --draggingBorder: #0F3A4A;
}
