@tailwind base;
@tailwind components;
@tailwind utilities;

@import "react-toastify/dist/ReactToastify.min.css";
@import 'react-circular-progressbar/dist/styles.css';

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Inter.ttf") format("truetype");
};

h1,
h2,
h3 {
	@apply font-bold;
}

h4,
h5,
h6 {
	@apply font-medium;
}

body,
input {
	@apply font-sans;
}

.btn-primary {
	@apply flex items-center justify-center font-semibold rounded-lg border-2 border-blue-primary bg-blue-primary text-white transition-all;
}
.btn-primary:hover {
	@apply bg-blue-hover border-blue-hover;
}
.btn-primary:disabled {
	@apply cursor-not-allowed bg-slate-300 border-slate-300;
}
/* Button default styles */
.btn-secondary {
	@apply flex items-center justify-center font-semibold rounded-lg bg-transparent border-2 border-gray-900 text-gray-900;
}
.btn-secondary:hover {
	@apply bg-transparent border-gray-900;
}

*::-webkit-scrollbar {
        margin-right: 5px;
        width: 6px;
    }

*::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #686868;
}

.Toastify__toast-icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.react-pdf__Page__canvas {
    border-radius: 16px;
    margin-bottom: 32px;
    overflow: hidden;
}

.preview-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 35px 0px;
};

.preview-file > img {
    border-radius: 16px;
}
