{{#> layout}}
    {{#*inline "content"}}
        We're contacting you to announce our GA release! Please check it out
        <a href="https://alpha.data.banyan.computer" class="link" style="color: #5299E0;">here</a>.
    {{/inline}}
{{/layout}}