{{! Required variables: }}
{{! - url: the url to the platform }}
{{#> layout}}
    {{#*inline "content"}}
        Naughty naughty! You have a failed payment! Please check it out
        <a href="{{ url }}" class="link" style="color: #5299E0;">here</a>.
    {{/inline}}
{{/layout}}